.l-header {
    align-items: center;
    background-color: white;
    display: flex;
    height: var(--g-header-height);
    justify-content: space-between;
    padding: 0 var(--g-spacing);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


@media only screen and (min-width: 42em) {
    .l-header {
        padding: 0 var(--g-spacing) 0 var(--g-spacing-4x-large);
    }
}
