.l-header {
    align-items: center;
    background-color: var(--g-color-secondary);
    display: flex;
    height: var(--g-header-height);
    justify-content: space-between;
    padding: 0 var(--g-spacing);
    position: fixed;
    top: 0;
    width: 100%;
}
