.c-menu-container {
    background-color: var(--g-color-background);
    bottom: 0;
    height: 100%;
    padding-top: var(--g-header-height);
    position: fixed;
    right: calc(var(--g-sidebar-width) * -1);
    top: 0;
    transition: transform 300ms ease-in-out;
    width: var(--g-sidebar-width);
    z-index: 2;
}

.c-menu-container.is-active {
    transform: translateX(calc(var(--g-sidebar-width) * -1));
}

.c-menu {
    border-top: 1px solid var(--g-color-text);
    padding: var(--g-spacing);

}

.c-menu-item {
    padding-bottom:  var(--g-spacing-small);
}

.c-menu-item__link {
    border-bottom: 3px solid transparent;
    color: var(--g-color-text);
    font-weight: 400;
    font-size: var(--g-font-size-large);
    text-decoration: none;
    text-transform: uppercase;
}

@media only screen and (min-width: 44em) {
    .c-menu-container {
        width: 100%;
        height: auto;
        padding-top: 0;
        position: static;
    }

    .c-menu {
        border: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
    }

    .c-menu-item {
        padding: 0 var(--g-spacing-large);
    }


    .c-menu-item__link {
        border-bottom: 3px solid transparent;
        color: var(--g-color-text);
        font-weight: 400;
        font-size: var(--g-font-size-large);
        padding-bottom: var(--g-spacing-x-small);
        text-decoration: none;
    }

    .c-menu-item__link:hover,
    .c-menu-item__link:focus {
        border-bottom: 3px solid red;
    }

}

@media only screen and (min-width: 48em) {
    .c-menu-item {
        padding: 0 var(--g-spacing-x-large);
    }

}

