:root {
    --g-color-primary: #f2f2f2;
    --g-color-secondary: #d9d9d9;
    --g-color-tertiary: #666;
    --g-color-active: #aaaa55;

    --g-color-red-500: #e53935;
    --g-color-blue-500: #96cbd1;
    --g-color-brown-500: #573646;
    --g-color-white-500: #fefef2;

    --g-spacing-2x-small: 4px;
    --g-spacing-x-small: 8px;
    --g-spacing-small: 12px;
    --g-spacing: 16px;
    --g-spacing-large: 24px;
    --g-spacing-x-large: 32px;
    --g-spacing-2x-large: 40px;
    --g-spacing-3x-large: 48px;

    --g-viewport-height: 0;
    --g-viewport-width: 0;
}
