:root {
    --g-color-primary: #4D4B4F;
    --g-color-secondary: #272529;
    --g-color-text: #fff;
    --g-color-highlight: #F9F871;

    --g-spacing-2x-small: 0.25rem;
    --g-spacing-x-small: 0.5rem;
    --g-spacing-small: 0.75rem;
    --g-spacing: 1rem;
    --g-spacing-large: 1.5rem;
    --g-spacing-x-large: 2rem;
    --g-spacing-2x-large: 2.5rem;
    --g-spacing-3x-large: 3rem;
    --g-spacing-4x-large: 4rem;

    --g-font-size-small: 0.75rem;
    --g-font-size: 1rem;
    --g-font-size-large: 1.5rem;
    --g-font-size-x-large: 2rem;

    --g-border-radius: 5px;

    --g-loader-size: 5rem;
    --g-header-height: 6rem;
}

.c-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
