.c-title-container {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.c-title {
    color: white;
    font-size: 40px;
    padding-bottom: var(--g-spacing-4x-large);
}

.c-tag {
    font-style: italic;
}


.c-testimonial-container {
    display: flex;
    flex-direction: column;
}

.c-testimonial__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.c-testimonial__title {
    font-size: 12px;
}

.c-testimonial__text {
    font-size: 18px;
    font-weight: semi-bold;
    margin-bottom: var(--g-spacing);
}


.c-testimonial__image {
    height: 15rem;
    width: 100%;
    border: 1px solid var(--g-color-primary);
    margin-bottom: var(--g-spacing);
}




@media only screen and (min-width: 38em) {

    .c-testimonial__image {
        height: 20rem;
    }

    .c-testimonial {
        padding: var(--g-spacing-large) 0 var(--g-spacing-large) var(--g-spacing-large) ;
    }


}

@media only screen and (min-width: 42em) {

    .c-testimonial-container {
        flex-direction: row;
    }


    .c-testimonial__text {
        font-size: 20px;
    }


}
