/* container */

.c-section {
    background-color: var(--g-color-background);
    padding:  var(--g-spacing);
    color: grey;
}

/* header */

.c-section__header {
    background-color: var(--g-color-background);
    padding-bottom: var(--g-spacing-x-small);
    display: flex;
    flex-direction: row-reverse;
}

.c-section__header--underline {
    border-bottom: 1px solid white;
}

.c-section__title {
    color: var(--g-color-text);
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
}

/* content */

.c-section__content {
    padding: var(--g-spacing-x-large) 0;
    font-size: 18px;
}

.c-section__content--narrow {
    padding: 6rem 1rem;
    text-align: center;
}


.c-section--white {
    background-color: white;
}

.c-section--grey {
    background-color: grey;
    color: white;
}

@media only screen and (min-width: 42em) {
    .c-section {
        padding: var(--g-spacing-4x-large);
    }

    .c-section__content--narrow {
        padding: 5rem 4rem;

    }
}

@media only screen and (min-width: 48em) {
    .c-section__content--narrow {
        padding: 7rem 9rem;
    }
}


@media only screen and (min-width: 80em) {
    .c-section__content--narrow {
        padding: 7rem 19rem;
    }
}

