.c-icon {
    color: var(--g-color-white-500);
    display: block;
    height: var(--g-spacing-3x-large);
    width: var(--g-spacing-3x-large);
}

.c-icon--large {
    height: 60px;
    width: 60px;
}

.c-icon--small {
    height: var(--g-spacing-x-large);
    width: var(--g-spacing-x-large);
}

.c-icon--x-small {
    height: var(--g-spacing-large);
    width: var(--g-spacing-large);
}

.c-icon--2x-small {
    height: var(--g-spacing);
    width: var(--g-spacing);
}
